* {
  box-sizing: border-box;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
}
.body{
  margin: 0;
  padding: 0;
}

.main{
  max-width: 1440px;
  margin: 0 auto;
}

.header{
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 89px;
  background: #590bff;
  border-bottom: 1px solid white;
}
.line-border__img{
  height: 160px;
}
.name-page {
  color: white;
  max-width: 1440px;
  height: 89px;
  margin:0 auto;
}

.name-page__title {
  font-size: 34px;
  margin:13px 24px;
}

.main {
  font-size: 28px;
}

.links__link {
  color: rgba(255, 113, 11, 1);
  font-size: 24px;
}
.links__item {
  margin-bottom: 12px;
}
links__title {
  margin-bottom: 23px;
}
.contacts {
  width: 850px;
}

.contacts__item {
  padding-left: 13px;
  cursor: pointer;
}
.contacts__item:hover {
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: #d1bcff;
  padding-left: 20px;
}
.wrapper {
  margin-left: 23px;
  position: relative;
  top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 0px;
  padding-bottom: 150px;
}
.contacts__box {
  margin-bottom: 30px;
  width: 100%;
  min-width: 100px;
}
.contacts__latter {
  position: sticky;
  top: 89px;
  color: white;
  background-color: #590bff;
  width: 100%;
  height: 41px;
  padding: 4px 13px;
  margin-bottom: 13px;
}

.contacts__latter:hover {
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: #661fff;
}

.footer-list {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
}

.footer-list__items {
  position: absolute;
  padding: 0 25px;
}



