* {
  box-sizing: border-box;
}
body {
  background: rgb(248, 248, 248);
}
a {
  color: black;
}
li {
  list-style-type: none;
}
ul {
  margin-left: 0;
  padding-left: 0;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}

header .container {
  display: flex;
  align-items:flex-end;
}

header img {
  width: 10%;
  margin-right: 10px;
}
header input {
  width: 100%;
  height: 10%;
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.item {
  text-align: center;
  width: 300px;
  border: 2px solid rgb(77, 73, 73);
  margin-top: 10px;
}
.item p {
  font-size: 12px;
}
.item button {
  background-color: rgb(218, 58, 58);
  width: 100%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.item button:hover {
  background-color: brown;
}

.item button span {
  color: blanchedalmond;
}


.item img {
  width: 100%;
}

.item span {
  color: rgb(216, 1, 1);
}

footer {
  text-align: center;
  margin-top: 50px;
}
footer img {
  width: 10%;
}
